
<%- include('includes/head') %>
<body>
<form action="/" method="post">
  <input type="text" name="cliente" id="cliente">
  <button type="submit">Enviar</button>
</form>
  <section class="container">
    <%= titulo %>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>